@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    word-break: break-word;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 68);
}
.container {
    width: auto;
    color: white;
    border: 1px solid red;
}
#premade-quiz button {
    font-size: 40px;
    cursor: pointer;
}
form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
    color: black;
}
.wrong-div, .correct-div {
    display: flex;
    flex-direction: column;
}